html, body {
    margin: 0;
    padding: 0;
    background-image: url("assets/images/tiling9.jpg");
    background-repeat: repeat;
}

/* Commons */
.hidden {
    display: none !important;
}

.brushcursor {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🖌</text></svg>") 0 16,auto;
}

.fillcursor {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🪣</text></svg>") 16 0,auto;
}

.eyedroppercursor {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>💧</text></svg>") 20 0,auto;
}

.erasercursor {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🧻</text></svg>") 0 0,auto;
}

.btn {
    width: 50px;
    height: 50px;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: none;
}
.btn.selected {
    background: #91b985;
}

/* The floating toolbar on the top-left */
.toolbar {
    display: flex;
    padding: 1rem;
    position: absolute;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    gap: 10px;
}

#leftToolbar {
    flex-direction: column;
}

#rightToolbar {
    right: 0%;
}

#layerPickerColumn {
    display: flex;
    flex-direction: column;
}

#layerPicker {
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    height: fit-content;
    outline: 1px solid #ccc;
}

#toolPicker {
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    outline: 1px solid #ccc;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
}

#functionalities {
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    outline: 1px solid #ccc;
}

/* The color palette picker */
.swatch {
    width: 30px;
    height: 30px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid grey;
}
#swatchesHolder {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

/* The object/stamp/emoji picker */
.control-panel {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    gap: 0.5rem;
    background: rgba(255, 255, 255);
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    align-items: center;
    outline: 1px solid #ccc;
}
.object-grid-row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.object-btn {
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
}
.swatches {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.primaryselected {
    border: 5px solid black;
}
.secondaryselected {
    border: 5px dotted black;
}

/* The whole entire hex map */
#hexmap {
    display: block;
    width: 100vw;
    height: 100vh;
}

/* SVG components - keep these minimal so that all styling remains inside the svg to allow*/
/* it to be exported without losing anything */
.no-pointer-events {
    pointer-events: none;
}
