/* NOTE: ALL SVG STYLING SHOULD BE DONE IN JS SO THAT IMAGE EXPORT CONTAINS ALL STYLING ATTRIBUTES */

html, body {
    margin: 0;
    padding: 0;
    background-image: url("assets/images/tiling9.jpg");
    background-repeat: repeat;
}

.brushcursor {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🖌</text></svg>") 0 16,auto;
}

.fillcursor {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🪣</text></svg>") 16 0,auto;
}

.eyedroppercursor {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>💧</text></svg>") 20 0,auto;
}

.erasercursor {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🧻</text></svg>") 0 0,auto;
}

.btn {
    width: 50px;
    height: 50px;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: none;
}
.btn.selected {
    background: #91b985;
}

.toolbar {
    padding: 1rem;
    position: absolute;
}

.control-panel {
    padding: 10px;
}

.swatch {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid grey;
}

/* The whole entire hex map */
#hexmap {
    display: block;
    width: 100vw;
    height: 100vh;
}

/* Composible properties */
.hidden {
    display: none !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.gappy {
    gap: 0.5rem;

}

.primaryselected {
    border: 5px solid black;
}

.secondaryselected {
    border: 5px dotted black;
}

.border-box {
    box-sizing: border-box;
}

.no-pointer-events {
    pointer-events: none;
}

.allow-pointer-events {
    pointer-events: auto !important;
}

.overlaid {
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    outline: 1px solid #ccc;
    height: fit-content;
    width: fit-content;
    background: rgba(255, 255, 255);
    align-items: center;
}

.right-aligned {
    right: 0%;
}
