{% set meta_title_value = meta_title|default("purajit | " ~ (tab_title|default(title, true)|default("home", true)), true) %}
{% set meta_site_name_value = meta_site_name|default("purajit", true) %}
{% set meta_type_value = meta_type|default("website", true) %}
{% set meta_description_value = meta_description|default(description, true)|default(meta_title_value, true) %}
{% set meta_image_value = meta_image|default(image, true)|default("https://purajit.com/static/tiledspace.jpg", true) %}
<meta property="og:title" content="{{ meta_title_value }}"/>
<meta property="og:site_name" content="{{ meta_site_name_value }}"/>
<meta property="og:type" content="{{ meta_type_value }}"/>
<meta name="twitter:title" content="{{ meta_title_value }}"/>
<meta name="description" content="{{ meta_description_value }}"/>
<meta property="og:description" content="{{ meta_description_value }}"/>
<meta name="twitter:description" content="{{ meta_description_value }}"/>
<meta property="og:image" content="{{ meta_image_value }}"/>
<meta name="twitter:image" content="{{ meta_image_value }}"/>
<meta name="twitter:card" content="summary_large_image"/>
{% if meta_url is defined or url is defined %}
{% set meta_url_value = meta_url|default(url, true) %}
<meta property="og:url" content="{{ meta_url_value }}"/>
<link rel="canonical" href="{{ meta_url_value }}"/>
{% endif %}
