@font-face {
    font-family: 'Libre Caslon Text';
    src: local('Libre Caslon Text Regular'), url(/static/LibreCaslonText-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lekton';
    src: local('Lekton-Regular'), url(/static/Lekton-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lekton';
    src: local('Lekton-Bold'), url(/static/Lekton-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Lekton';
    src: local('Lekton-Italic'), url(/static/Lekton-Italic.ttf) format('truetype');
    font-style: italic;
}

:root {
    --light-bg: #e5dcc3;
    --bg: #301f15;
    --text: #e8e6e3;
    --page-margin: 8%;
    --gap: 0.5rem;
}

html, body {
    font-family: "Libre Caslon Text";
    font-size: 2vh;
    color: var(--text);
    background-color: var(--light-bg);
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}

body {
    padding-top: 8%;
    padding-bottom: 8%;

}

/* overriding defaults */
a {
    color: cornflowerblue;
}

a.nostyle {
    color: inherit;
    text-decoration: none;
}

a.monospace {
    font-family: "Lekton";
    font-size: 1.5rem;
}

ol, ul {
    margin: 0;
}

input {
    border: 0;
    margin-left: 10px;
    margin-right: 15px;
    border-bottom: 1px solid rgba(172, 225, 110, 0.5);
    outline: none;
    width: 50px;
    font-size: inherit;
    font-family: "MSDOS";
    color: #ACE16E;
    background-color: transparent;
    text-align: right;
}

code {
    background: #3A3B3C;
    border-left: 3px solid #f36d33;
    color: var(--light-bg);
    page-break-inside: avoid;
    font-family: "Lekton";
    font-size: 1rem;
    line-height: 1.6;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

/* primary page elements that appear everywhere */
#main {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    width: min(1000px, 95vw);
}

#name {
    font-size: 3rem;
    font-weight: bold;
    background-color: var(--bg);
    color: var(--light-bg);
    width: fit-content;
    padding: 10px 10px 10px 10px;
    margin-bottom: 30px;
    border-radius: 60px 0px 0px 0px;
}

/* index page has different borders */
.index-page #name {
    border-radius: 0px 60px 0px 0px;
}

#contents {
    margin-bottom: 200px;
}

#name > a {
    color: var(--light-bg);
    text-decoration: none;
}

.contents-item > a {
    color: var(--bg);
    text-decoration: none;
}

.contents-item {
    font-size: 2rem;
    width: fit-content;
    /* background-color: var(--bg); */
}

/* TODO: just remove h1s and define classes with larger fonts */
#contents h1 {
    padding: 0;
    margin: 0;
}

/* main box for all other pages*/
.page-content {
    width: 100%;
    padding: 50px;
    background: var(--bg);
    border-radius: 20px;
    box-sizing: border-box;
}

/* recipe page */
.recipe-sidebar {
    width: max(350px, 25%);
    min-width: max(350px, 25%);
}

.recipe-sources {
    font-size: 0.5rem;
}

/* zeitgeist page */
.zeitgeist-section .flex-row {
    width: 100%;
}

.zeitgeist-section img {
    border: 0;
    max-width: calc((100% - 2rem) / 5);
}

.zeitgeist-lower-row img {
    max-width: calc((100% - 4.5rem) / 10);
}

/* tools */
#screamintovoid {
    width: min(500px, 100%);
    height: 300px;
    resize: none;
    border: none;
    border-bottom: 1px solid var(--light-bg);
    background: rgba(255, 255, 255, 0.04);
    padding: 15px;
    outline: none;
    color: var(--text);
    font-family: "Libre Caslon Text";
    font-size: 1rem;
}

/* generics */
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.gappy {
    gap: var(--gap);
}

.gappy-2x {
    gap: calc(2 * var(--gap));
}

.table-header {
    background-color: var(--light-bg) !important;
    color: var(--bg);
    font-weight: bold;
    position: sticky;
    top: 0;
}

.table .flex-col {
    min-height: 40px;
    align-items: center;
    overflow: hidden;
    width: 50%;
}

.table > .flex-row:nth-child(even) {
    background-color: rgb(255, 255, 255, 0.15);
}

.table > .flex-row.non-alternating:nth-child(even) {
    background-color: transparent !important;
}

.preserve-whitespace {
    white-space: pre-wrap;
}

.writing-title {
    color: var(--light-bg);
}

.force-dyad {
    font-size: 0.5rem;
    justify-content: right;
    align-content: flex-end;
    display: flex;
}

.notes {
    font-size: 1rem;
}
