@font-face {
    font-family: 'Libre Caslon Text';
    src: local('Libre Caslon Text Regular'), url(/static/LibreCaslonText-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lekton';
    src: local('Lekton-Regular'), url(/static/Lekton-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lekton';
    src: local('Lekton-Bold'), url(/static/Lekton-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Lekton';
    src: local('Lekton-Italic'), url(/static/Lekton-Italic.ttf) format('truetype');
    font-style: italic;
}

:root {
    --light-bg: #e5dcc3;
    --bg: #301f15;
    --text: #e8e6e3;
    --page-margin: 8%;
}

body {
    font-family: "Libre Caslon Text";
    color: var(--text);
    background-color: var(--light-bg);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 8%;
    padding-bottom: 8%;
    margin: 0;
}

/* overriding defaults */
a {
    color: cornflowerblue;
}

a.nostyle {
    color: inherit;
    text-decoration: none;
}

a.monospace {
    font-family: "Lekton";
    font-size: 21px;
}

ol, ul {
    margin: 0;
}

input {
    border: 0;
    margin-left: 10px;
    margin-right: 15px;
    border-bottom: 1px solid rgba(172, 225, 110, 0.5);
    outline: none;
    width: 50px;
    font-size: inherit;
    font-family: "MSDOS";
    color: #ACE16E;
    background-color: transparent;
    text-align: right;
}

code {
    background: #3A3B3C;
    border-left: 3px solid #f36d33;
    color: var(--light-bg);
    page-break-inside: avoid;
    font-family: "Lekton";
    font-size: 19px;
    line-height: 1.6;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

/* primary page elements that appear everywhere */
#main {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    width: min(1000px, 100vw);
}

#name {
    font-size: 60px;
    font-weight: bold;
    background-color: var(--bg);
    color: var(--light-bg);
    width: fit-content;
    padding: 10px 10px 10px 10px;
    margin-bottom: 30px;
    border-radius: 60px 0px 0px 0px;
}

/* index page has different borders */
.index-page #name {
    border-radius: 0px 60px 0px 0px;
}

#contents {
    margin-bottom: 200px;
}

#name > a {
    color: var(--light-bg);
    text-decoration: none;
}

.contents-item > a {
    color: var(--bg);
    text-decoration: none;
}

.contents-item {
    font-size: 45px;
    width: fit-content;
    padding: 10px 10px 10px 10px;
    /* background-color: var(--bg); */
}

.contents-item:not(:first-of-type) {
    margin-top: 10px;
}

/* TODO: just remove h1s and define classes with larger fonts */
#contents h1 {
    padding: 0;
    margin: 0px 0px 0px 0px;
}

/* main box for all other pages*/
.page-content {
    width: 100%;
    padding: 50px;
    font-size: 25px;
    background: var(--bg);
    border-radius: 20px;
    box-sizing: border-box;
}

.writing {
    background: var(--bg);
    color: D7CDB0;
}

.preserve-whitespace {
    white-space: pre-wrap;
}

.writing-title {
    color: var(--light-bg);
}

/* tables
   TODO: use simplified version used in mythmancer.com
*/
.table {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.table-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.table-row.label {
    font-size: 15px;
}

.table-column {
    flex: 1;
    border: 1px solid var(--light-bg);
    min-height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    overflow: hidden;
}

.table.no-borders .table-column {
    border: none;
}

.table-column:not(:nth-last-of-type(1)) {
    border-right: 1px solid var(--light-bg);
}

.table-header {
    background-color: var(--light-bg) !important;
    color: var(--bg);
    font-weight: bold;
    position: sticky;
    top: 0;
}

.table .table-row:nth-child(even) {
    background-color: rgb(255, 255, 255, 0.15);
}

.table .table-row.non-alternating:nth-child(even) {
    background-color: transparent !important;
}

/* recipe page */
.recipe-card {
    display: flex;
    flex-direction: row;
}

.recipe-sidebar {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    max-width: 25%;
}

.recipe-ingredients {
    padding-top: 20px;
}

.recipe-steps {
    padding-left: 30px;
}

.recipe-sources {
    padding-top: 20px;
    font-size: 10px;
}

/* about page */
.work-logo {
    height: 100px;
    width: auto;
}

/* thoughts page */
.thought-group {
    margin-bottom: 40px;
}

/* TODO: replace brs with meaningful divs/sizing */
.thoughts br {
    margin-top: 5px;
    display: block;
}

/* zeitgeist page */
.zeitgeist-heading {
    display: flex;
    flex-direction: row;
}

.zeitgeist-section .table img {
    width: 100%;
}

.zeitgeist-section .table-column {
    padding: 5px;
    border: 0;
    border-right: 0;
    max-width: 20%;
}

.zeitgeist-lower-row .table-column {
    max-width: 10%;
    box-sizing: border-box;
}

.zeitgeist-section .table-column:not(:nth-last-of-type(1)) {
    border: 0;
}

.zeitgeist-section .table .table-row:nth-child(even) {
    background-color: transparent;
}

/* tools */
#qr {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-self: center;
}

#screamintovoid {
    min-width: 40%;
    max-width: 300px;
    height: 300px;
    resize: none;
    border: none;
    border-bottom: 1px solid var(--light-bg);
    background: transparent;
    outline: none;
    color: var(--text);
    font-family: "Libre Caslon Text";
    font-size: 30px;
    margin-top: 30px;
}

.page-content.hourglass {
    align-content: center
}

#hourglass-form {
    width: fit-content;
    margin: 10px auto;
}

#hourglass-display {
    width: 500px;
    margin: 0 auto;
}

#hourglass-display .table-column {
    display: flex;
    justify-content: center;
}

.timedisplay {
    min-width: 200px;
    font-size: 100px;
    margin-bottom: -20px;
}

.hourglass-btn {
    padding-top: 10px;
    padding-bottom: 10px;
}

.v-spacer {
    height: 100%;
}

.force-dyad {
    font-size: 10px;
    justify-content: right;
    align-content: flex-end;
    display: flex;
}

.btn {
    /* Button, should be paired with a color */
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    height: var(--cs-height-min);
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    background: var(--light-bg);
    color: var(--bg);
}
