{% with title="purajit | recipes" %}
{% include './header.html' %}
{% endwith %}
<div class="page-content">
  <div class="writing-title">{{ title }}</div><br>
  <div class="flex-row gappy-2x">
    <div class="recipe-sidebar flex-col gappy">
      <div id="recipe-servings">
        <input type="text" basevalue="{{ data['servings'] }}" value="{{ data['servings'] }}"> serving<span class="plural">s</span>
      </div>

      <div class="flex-col table">
        <div class="flex-row table-header">
          <div class="flex-col">Ingredient</div>
          <div class="flex-col">Amount</div>
        </div>
        {% for ingredient_name, ingredient in data["ingredients"].items() %}
        <div class="flex-row">
          <div class="flex-col">{{ ingredient_name }}</div>
          <div class="recipe-ingredient flex-row">
            {%- if "unit" in ingredient %}
            <span basevalue="{{ ingredient['amount'] }}" class="ingredient-amount">
              {{- ingredient["amount"] -}}
            </span>&nbsp;{{- ingredient["unit"] -}}
                            {%- else %}
            <span basevalue="{{ ingredient['amount'] }}">
              {{- ingredient["amount"] -}}
            </span>
            {% endif %}
                            {%- if ingredient["amorphous"] != true %}
            <span class="plural">s</span>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="recipe-sources">
        {% for source in data["sources"] %}
        <a href="{{ source }}">{{ source }}</a><br/>
        {% endfor %}
      </div>
    </div>
    <div class="flex-col gappy">
      {% for step in data["steps"] %}
      <div>{{ step }}</div>
      {% endfor %}
    </div>
  </div>
</div>
<script>
 let SERVINGS_DIV;
 let INGREDIENT_DIVS;

 function getServings() {
     return parseFloat(SERVINGS_DIV.getElementsByTagName("input")[0].value);
 }

 function toFixed(num, fixed) {
   const re = new RegExp('^-?\\d+(?:\.\\d{0,' + (fixed || -1) + '})?');
   return num.toString().match(re)[0];
 }

 function updateAmounts() {
     for (let i = 0; i < INGREDIENT_DIVS.length; i++) {
         const ingredientDiv = INGREDIENT_DIVS[i];
         const amounts = ingredientDiv.getElementsByClassName("ingredient-amount");
         if (amounts.length == 0) {
             continue;
         }

         const baseValue = parseFloat(amounts[0].getAttribute("basevalue"));
         const servingScale = getServings() / parseFloat(SERVINGS_DIV.getElementsByTagName("input")[0].getAttribute("basevalue"));

         amounts[0].textContent = toFixed(baseValue * servingScale, 2);
     }
 }

 function setPlurals() {
     SERVINGS_DIV.getElementsByClassName("plural")[0].hidden = (getServings() == 1);

     for (let i = 0; i < INGREDIENT_DIVS.length; i++) {
         const ingredientDiv = INGREDIENT_DIVS[i];
         const amounts = ingredientDiv.getElementsByClassName("ingredient-amount");
         if (amounts.length == 0) {
             return;
         }

         const ingredientAmount = parseFloat(amounts[0].textContent);
         const plurals = ingredientDiv.getElementsByClassName("plural");
         if (plurals.length != 0) {
             plurals[0].hidden = (ingredientAmount == 1);
         }
     }
 }

 window.onload = function() {
     SERVINGS_DIV = document.getElementById("recipe-servings");
     INGREDIENT_DIVS = document.getElementsByClassName("recipe-ingredient");
     SERVINGS_DIV.getElementsByTagName("input")[0].addEventListener('input', function() {
         updateAmounts();
         setPlurals();
     });
     setPlurals();
 }
</script>
{% include './footer.html' %}
