{% with title="purajit | zeitgeist" %}
{% include './header.html' %}
{% endwith %}
<div class="page-content flex-col gappy">
    <div class="flex-row">
        <div class="writing-title">
            {% if not data["first_zeitgeist"] %}
            <a class="nostyle" href="/zeitgeist/{{ data['year'] - 1 }}">←</a>
            {% else %}
            <span style="color: darkgrey;">←</span>
            {% endif %}
            {{ data["year"] }}
            {% if not data["latest_zeitgeist"] %}
            <a class="nostyle" href="/zeitgeist/{{ data['year'] + 1 }}">→</a>
            {% endif %}
        </div>
    </div>
    <div class="zeitgeist-section">
        <div class="writing-title">albums of the year {{ data.get("notes", "") }}</div>
        {% set num_albums = data["albums"]|length %}
        <div class="flex-col gappy">
            <div class="flex-row gappy">
                {% for album in data["albums"][:5] %}
                <img src="https://lastfm.freetls.fastly.net/i/u/300x300/{{ album['lastfm_id'] }}.png" title="{{ album["album"] }} by {{ album["artist"] }}">
                {% endfor %}
            </div>
            <div class="flex-row gappy">
                {% for album in data["albums"][5:10] %}
              <img src="https://lastfm.freetls.fastly.net/i/u/300x300/{{ album['lastfm_id'] }}.png" title="{{ album["album"] }} by {{ album["artist"] }}">
                {% endfor %}
            </div>
            {% for i in range(10, num_albums, 10) %}
            <div class="flex-row zeitgeist-lower-row gappy">
                {% for album in data["albums"][i:i+10] %}
                <img src="https://lastfm.freetls.fastly.net/i/u/300x300/{{ album['lastfm_id'] }}.png" title="{{ album["album"] }} by {{ album["artist"] }}">
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="zeitgeist-section">
        <div class="writing-title">movies of the year {{ data.get("notes", "") }}</div>
        {% set num_movies = data["movies"]|length %}
        <div class="flex-col gappy">
            <div class="flex-row gappy">
                {% for movie in data["movies"][:5] %}
                <img src="{{ movie['link'] }}" title="{{ movie["movie"] }}">
                {% endfor  %}
            </div>
            <div class="flex-row gappy">
                {% for movie in data["movies"][5:10] %}
                <img src="{{ movie['link'] }}" title="{{ movie['movie'] }}">
                {% endfor  %}
            </div>
            {% for i in range(10, num_movies, 10) %}
            <div class="flex-row zeitgeist-lower-row gappy">
                {% for movie in data["movies"][i:i+10] %}
                <img src="{{ movie['link'] }}" title="{{ movie["movie"] }}">
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include './footer.html' %}
