{% with title="purajit | tools" %}
{% include './header.html' %}
{% endwith %}
<script>
 function checkSend() {
     if (window.event.keyCode != 13) {
         return true;
     }
     window.event.stopPropagation();
     window.event.preventDefault();
     document.getElementById("screamintovoid").value = "";
     return false;
 }
</script>
<div class="writing page-content">
    <h1 class="writing-title">scream into the void</h1><br>

    Say what you have to say and hit enter to send your message into the void
    <textarea autofocus id="screamintovoid" onkeydown="checkSend();"></textarea>
</div>
{% include './footer.html' %}
