{% with title="purajit | recipes" %}
{% include './header.html' %}
{% endwith %}
<div class="page-content flex-col gappy-2x">
    <div class="writing-title">{{ title }}</div><br>
    <div class="table flex-col">
        <div class="flex-row table-header">
            <div class="flex-col">Item</div>
            <div class="flex-col">Ratio item:water</div>
            <div class="flex-col">Cook time</div>
        </div>
        <div class="flex-row">
            <div class="flex-col">sona masoori rice</div>
            <div class="flex-col">1:1</div>
            <div class="flex-col">5 min</div>
        </div>
        <div class="flex-row">
            <div class="flex-col">basmati rice</div>
            <div class="flex-col">1:1.25</div>
            <div class="flex-col">4 min</div>
        </div>
        <div class="flex-row">
            <div class="flex-col">ponni raw rice</div>
            <div class="flex-col">1:2</div>
            <div class="flex-col">5 min</div>
        </div>
        <div class="flex-row">
            <div class="flex-col">channa dal (not soaked)</div>
            <div class="flex-col">1:2</div>
            <div class="flex-col">15 min</div>
        </div>
        <div class="flex-row">
            <div class="flex-col">channa (not soaked)</div>
            <div class="flex-col">1:6</div>
            <div class="flex-col">45 min</div>
        </div>
        <div class="flex-row">
            <div class="flex-col">rice + toor dal</div>
            <div class="flex-col">-</div>
            <div class="flex-col">8-10 min</div>
        </div>
        <div class="flex-row">
            <div class="flex-col">sticky rice</div>
            <div class="flex-col">3:2</div>
            <div class="flex-col">12 min + 5 min release</div>
        </div>
        <div class="flex-row">
            <div class="flex-col">toor dal</div>
            <div class="flex-col">1:2.5</div>
            <div class="flex-col">5 min</div>
        </div>
        <div class="flex-row">
            <div class="flex-col">kala channa</div>
            <div class="flex-col">1:2.5</div>
            <div class="flex-col">30 min</div>
        </div>
    </div>

    <div class="table flex-col">
        <div class="flex-row table-header">
            <div class="flex-col">Kannada</div>
            <div class="flex-col">English</div>
            <div class="flex-col">Other</div>
        </div>
        <div class="flex-row">
            <div class="flex-col">Uddina bele</div>
            <div class="flex-col">Split black gram</div>
            <div class="flex-col">Udath/urad dal</div>
        </div>
        <div class="flex-row">
            <div class="flex-col">Togari bele</div>
            <div class="flex-col">Split pigeon pea</div>
            <div class="flex-col">Toor dal</div>
        </div>
        <div class="flex-row">
            <div class="flex-col">Menthia</div>
            <div class="flex-col">Fenugreek seeds</div>
            <div class="flex-col">-</div>
        </div>
        <div class="flex-row">
            <div class="flex-col">Kadale bele</div>
            <div class="flex-col">Split Bengal gram</div>
            <div class="flex-col">Chana dal</div>
        </div>
        <div class="flex-row">
            <div class="flex-col">Sasve</div>
            <div class="flex-col">Mustard seeds</div>
            <div class="flex-col">-</div>
        </div>
        <div class="flex-row">
            <div class="flex-col">Jeerige</div>
            <div class="flex-col">Cumin seeds</div>
            <div class="flex-col">Jeera</div>
        </div>
        <div class="flex-row">
            <div class="flex-col">Kothumbri</div>
            <div class="flex-col">Coriander leaves</div>
            <div class="flex-col">-</div>
        </div>
        <div class="flex-row">
            <div class="flex-col">Karabevu</div>
            <div class="flex-col">Curry leaves</div>
            <div class="flex-col"></div>
        </div>
        <div class="flex-row">
            <div class="flex-col">Hing</div>
            <div class="flex-col">Asafoetido</div>
            <div class="flex-col">-</div>
        </div>
        <div class="flex-row">
            <div class="flex-col">Bella</div>
            <div class="flex-col">Non-centrifugal cane sugar</div>
            <div class="flex-col">Jaggery, gur. Panela, muscovado are similar</div>
        </div>
    </div>
</div>
{% include './footer.html' %}
