{% include './header.html' %}
<div class="table">
    <div class="table-row table-header">
        <div class="table-column">Item</div>
        <div class="table-column">Ratio item:water</div>
        <div class="table-column">Cook time</div>
    </div>
    <div class="table-row">
        <div class="table-column">sona masoori rice</div>
        <div class="table-column">1:1</div>
        <div class="table-column">5 min</div>
    </div>
    <div class="table-row">
        <div class="table-column">ponni raw rice</div>
        <div class="table-column">1:2</div>
        <div class="table-column">5 min</div>
    </div>
    <div class="table-row">
        <div class="table-column">rice + toor dal</div>
        <div class="table-column">-</div>
        <div class="table-column">8-10 min</div>
    </div>
    <div class="table-row">
        <div class="table-column">sticky rice</div>
        <div class="table-column">3:2</div>
        <div class="table-column">12 min + 5 min release</div>
    </div>
    <div class="table-row">
        <div class="table-column">toor dal</div>
        <div class="table-column">1:2.5</div>
        <div class="table-column">-</div>
    </div>
    <div class="table-row">
        <div class="table-column">kala channa</div>
        <div class="table-column">1:2.5</div>
        <div class="table-column">30 min</div>
    </div>
</div><br/>

<div class="table">
    <div class="table-row table-header">
        <div class="table-column">Kannada</div>
        <div class="table-column">English</div>
        <div class="table-column">Other</div>
    </div>
    <div class="table-row">
        <div class="table-column">Uddina bele</div>
        <div class="table-column">Split black gram</div>
        <div class="table-column">Udath/urad dal</div>
    </div>
    <div class="table-row">
        <div class="table-column">Togari bele</div>
        <div class="table-column">Split pigeon pea</div>
        <div class="table-column">Toor dal</div>
    </div>
    <div class="table-row">
        <div class="table-column">Menthia</div>
        <div class="table-column">Fenugreek seeds</div>
        <div class="table-column">-</div>
    </div>
    <div class="table-row">
        <div class="table-column">Kadale bele</div>
        <div class="table-column">Split Bengal gram</div>
        <div class="table-column">Chana dal</div>
    </div>
    <div class="table-row">
        <div class="table-column">Sasve</div>
        <div class="table-column">Mustard seeds</div>
        <div class="table-column">-</div>
    </div>
    <div class="table-row">
        <div class="table-column">Jeerige</div>
        <div class="table-column">Cumin seeds</div>
        <div class="table-column">Jeera</div>
    </div>
    <div class="table-row">
        <div class="table-column">Kothumbri</div>
        <div class="table-column">Coriander leaves</div>
        <div class="table-column">-</div>
    </div>
    <div class="table-row">
        <div class="table-column">Karabevu</div>
        <div class="table-column">Curry leaves</div>
        <div class="table-column"></div>
    </div>
    <div class="table-row">
        <div class="table-column">Hing</div>
        <div class="table-column">Asafoetido</div>
        <div class="table-column">-</div>
    </div>
    <div class="table-row">
        <div class="table-column">Bella</div>
        <div class="table-column">Non-centrifugal cane sugar</div>
        <div class="table-column">Jaggery, gur. Panela, muscovado are similar</div>
    </div>
</div>
{% include './footer.html' %}
