<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hex Map Editor</title>
  <link rel="stylesheet" href="/static/hexmaps.css">
</head>
<body>
  <div id="toolbar">
    <div id="layerPickerColumn">
      <div><button id="dummyBtn" class="layer-picker-btn btn"></button></div>
      <div id="layerPicker">
        <button id="baseLayerBtn" class="layer-picker-btn btn" title="Switch to Base layer (1)" data-layer="BASE">🌐️</button>
        <button id="objectLayerBtn" class="layer-picker-btn btn" title="Switch to Object layer (2)" data-layer="OBJECT">🖇</button>
        <button id="pathLayerBtn" class="layer-picker-btn btn" title="Switch to Path layer (3)" data-layer="PATH">🗺️</button>
        <button id="eraserLayerBtn" class="layer-picker-btn btn" title="Switch to Text layer (4)" data-layer="TEXT">📝</button>
        <button id="saveBtn" class="btn" title="Save map! (For personal appreciation, not for export/import - yet)">💾</button>
        <button id="rotateAxesBtn" class="btn" title="Flip axes (WILL NOT PRESERVE DRAWING!)">↻</button>
      </div>
    </div>
    <div id="layerPanel">
      <div id="toolPicker">
        <button id="brushToolBtn" class="tool-picker-btn btn" title="Brush tool (B)" data-tool="BRUSH">🖌</button>
        <button id="fillToolBtn" class="tool-picker-btn btn" title="Fill tool (G)" data-tool="FILL">🪣</button>
        <button id="eraserToolBtn" class="tool-picker-btn btn" title="Eraser tool (E)" data-tool="ERASER">️🧻</button>
      </div>

      <div id="colorPalette" class="layer-control" data-layer="BASE">
        <!-- https://www.drivethrurpg.com/en/product/500717/wuggy-s-hex-tiles -->
        <div class="swatch" style="background:#000000" data-color="#000000"></div>
        <!-- blues -->
        <div class="swatch" style="background:#69394d" data-color="#69394d"></div>
        <div class="swatch" style="background:#535272" data-color="#535272"></div>
        <div class="swatch" style="background:#6a8588" data-color="#6a8588"></div>
        <div class="swatch bgselected" style="background:#7eaaad" data-color="#7eaaad"></div>
        <!-- greens -->
        <div class="swatch" style="background:#3d5a40" data-color="#3d5a40"></div>
        <div class="swatch" style="background:#4a6b4e" data-color="#4a6b4e"></div>
        <div class="swatch" style="background:#739d77" data-color="#739d77"></div>
        <div class="swatch" style="background:#91b985" data-color="#91b985"></div>
        <div class="swatch" style="background:#aab34c" data-color="#aab34c"></div>
        <div class="swatch" style="background:#b4bd50" data-color="#b4bd50"></div>
        <div class="swatch" style="background:#bfc080" data-color="#bfc080"></div>
        <!-- browns oranges -->
        <div class="swatch" style="background:#943636" data-color="#943636"></div>
        <div class="swatch" style="background:#d35540" data-color="#d35540"></div>
        <div class="swatch fgselected" style="background:#b8895f" data-color="#b8895f"></div>
        <div class="swatch" style="background:#e8aa54" data-color="#e8aa54"></div>
        <div class="swatch" style="background:#efb158" data-color="#efb158"></div>
        <div class="swatch" style="background:#e4d250" data-color="#e4d250"></div>
        <div class="swatch" style="background:#c4b9a5" data-color="#c4b9a5"></div>
        <div class="swatch" style="background:#c4b9a5" data-color="#ffffff"></div>
      </div>
      <div id="objectGrid" class="layer-control" data-layer="OBJECT">
        <div class="object-grid-row">
          <div class="object-btn btn" data-text="🌲">🌲</div>
          <div class="object-btn btn" data-text="🌳">🌳</div>
        </div>
        <div class="object-grid-row">
          <div class="object-btn btn" data-text="🌵">🌵</div>
          <div class="object-btn btn" data-text="🏜">🏜</div>
        </div>
        <div class="object-grid-row">
          <div class="object-btn btn" data-text="🏔">🏔</div>
          <div class="object-btn btn" data-text="🗻">🗻</div>
        </div>
        <div class="object-grid-row">
          <div class="object-btn btn" data-text="🌋">🌋</div>
          <div class="object-btn btn" data-text="🌊">🌊</div>
        </div>
        <div class="object-grid-row">
          <div class="object-btn btn" data-text="🌽">🌽</div>
          <div class="object-btn btn" data-text="🌾">🌾</div>
        </div>
        <div class="object-grid-row">
          <div class="object-btn btn" data-text="🏯">🏯</div>
          <div class="object-btn btn" data-text="🏰">🏰</div>
        </div>
        <div class="object-grid-row">
          <div class="object-btn btn" data-text="🔥">🔥</div>
          <div class="object-btn btn" data-text="☄️">☄️</div>
        </div>
        <div class="object-grid-row">
          <div class="object-btn btn" data-text="🏝">🏝</div>
          <div class="object-btn btn" data-text="🗿">🗿</div>
        </div>
        <div class="object-grid-row">
          <div class="object-btn btn" data-text="🏠">🏠</div>
          <div class="object-btn btn" data-text="🏚">🏚</div>
        </div>
        <div class="object-grid-row">
          <div class="object-btn btn" data-text="🏯">🏯</div>
          <div class="object-btn btn" data-text="🏰">🏰</div>
        </div>
        <div class="object-grid-row">
          <div class="object-btn btn" data-text="🛖">🛖</div>
          <div class="object-btn btn" data-text="🪵">🪵</div>
        </div>
        <!-- <div class="object-btn btn" data-object="barren"></div> -->
        <!-- <div class="object-btn btn" data-object="dune"></div> -->
        <!-- <div class="object-btn btn" data-object="mountain"></div> -->
        <!-- <div class="object-btn btn" data-object="castle"></div> -->
        <!-- <div class="object-btn btn" data-object="house"></div> -->
        <!-- <div class="object-btn btn" data-object="pond"></div> -->
        <!-- <div class="object-btn btn" data-object="lily"></div> -->
        <!-- <div class="object-btn btn" data-object="marsh"></div> -->
        <!-- <div class="object-btn btn" data-object="trees"></div> -->
        <!-- <div class="object-btn btn" data-object="conifer"></div> -->
        <!-- <div class="object-btn btn" data-object="water"></div> -->
      </div>
      <div id="pathSymbolGrid" class="layer-control" data-layer="PATH">
        <div class="path-tip-symbol-btn btn" data-text="⚓">⚓</div>
        <div class="path-tip-symbol-btn btn" data-text="🚢">🚢</div>
        <div class="path-tip-symbol-btn btn" data-text="❌">❌</div>
        <div class="path-tip-symbol-btn btn" data-text="📍">📍</div>
        <div class="path-tip-symbol-btn btn" data-text="⚔️">⚔️</div>
        <div class="path-tip-symbol-btn btn" data-text="🚩">🚩</div>
        <div class="path-tip-symbol-btn btn" data-text="💣">💣</div>
      </div>
    </div>
  </div>
  <svg id="hexmap"></svg>
</body>
<script src="/static/hexmaps.js"></script>
