{% with title="purajit | tools" %}
{% include './header.html' %}
{% endwith %}
<audio id="hourglass-beep" src="{{ static_url }}/sounds/timer-beep.mp3" preload="auto"></audio>
<audio id="hourglass-end" src="{{ static_url }}/sounds/timer-end.mp3" preload="auto"></audio>
<div class="writing page-content">
    Type number of seconds needed, hit enter to start. Hit space to flip the hourglass.
    <form id="hourglass-form">
        <input inputmode="numeric" id="hourglass-timerequested">seconds
    </form>
    <div class="table no-borders hourglass-display">
        <div class="table-row non-alternating">
            <div class="table-column timedisplay" id="hourglass-timeleft"></div>
            <div class="table-column">time left</div>
        </div>
        <div class="table-row non-alternating">
            <div class="table-column timedisplay" id="hourglass-timeelapsed"></div>
            <div class="table-column">time elapsed</div>
        </div>
    </div>
</div>
{% include './footer.html' %}

<script>
 let totalTime;
 let timeLeft;
 let currentTimer;

 function flip() {
     timeLeft = totalTime - timeLeft;
     document.getElementById("hourglass-timeleft").textContent = timeLeft <= 0 ? '0' : timeLeft;
     document.getElementById("hourglass-timeelapsed").textContent = timeLeft <= 0 ? totalTime : totalTime - timeLeft;
 }

 function initiateTimer() {
     document.getElementById("hourglass-timerequested").blur();

     clearInterval(currentTimer);

     totalTime = document.getElementById("hourglass-timerequested").value;
     timeLeft = totalTime;

     document.getElementById("hourglass-timeleft").textContent = totalTime;
     document.getElementById("hourglass-timeelapsed").textContent = 0;

     currentTimer = setInterval(function() {
         timeLeft--;
         document.getElementById("hourglass-timeleft").textContent = timeLeft <= 0 ? '0' : timeLeft;
         document.getElementById("hourglass-timeelapsed").textContent = timeLeft <= 0 ? totalTime : totalTime - timeLeft;
         if (timeLeft > 0 && timeLeft <= 5) {
             document.getElementById('hourglass-beep').play();
         }

         if (timeLeft <= 0) {
             document.getElementById('hourglass-end').play();
             clearInterval(currentTimer);
         }
     }, 1000);
 }

 window.onload = function() {
     document.body.onkeyup = function(e) {
         if (e.key == " " || e.code == "Space" || e.keyCode == 32) {
             e.preventDefault();
             if (timeLeft <= 0 || !currentTimer) {
                 initiateTimer();
             } else {
                 flip();
             }
         }

     }
     document.getElementById("hourglass-timerequested").value = 180;
     document.getElementById("hourglass-timeleft").textContent = 180;
     document.getElementById("hourglass-timeelapsed").textContent = 0;

     document.getElementById("hourglass-form").onsubmit = function(e) {
         e.preventDefault();
         initiateTimer();
     };
 };
</script>
