<!DOCTYPE html>
{% include 'head.html' %}
<body style="background-image: url({{ static_url }}/images/bg1.jpg);">
    <div id="main" class="index-page">
        <div id="name">
            {{ title }}
            <a id="forward" href="javascript:;">→</a>
        </div>
        <div id="contents">
            {% include 'template_content_table.html' %}
        </div>
    </div>
</body>
<script>
 let cur = 0;
 document.getElementById("forward").addEventListener("click", function() {
     cur += 90;
     cur %= 360;
     document.getElementById("main").style.transform = `rotate(${cur}deg)`;
 });
</script>
