{% include './header.html' %}
<div class="about">
    <h1>software engineer / writer (barely) / musician (not even)</h1>
    i'd love to contribute to: education, public transit, biology, sustainability, lab research<br/>
    don't contact me about: crypto/web3/blockchain, fintech, amazon, facebook, tech middleman/marketplace services<br/><br/>
    <h1>worked at:</h1>
    {% for job in jobs %}
    <a href="{{ job['link'] }}"><img class="work-logo" src="/static/images/work-{{ job['key'] }}.png"></a>
    {% endfor %}
    <br/><br/>
    <h1>some favorites:</h1>
    {% for album in favs['albums'] %}
    <a href="{{ album['link'] }}"><img class="fav-music" src="/static/images/music-{{ album['key'] }}.png"></a>
    {% endfor %}
    {% for movie in favs['movies'] %}
    <a href="{{ movie['link'] }}"><img class="fav-media" src="/static/images/movie-{{ movie['key'] }}.png"></a>
    {% endfor %}
    {% for show in favs['television'] %}
    <a href="{{ show['link'] }}"><img class="fav-media" src="/static/images/tv-{{ show['key'] }}.png"></a>
    {% endfor %}
    {% for book in favs['books'] %}
    <a href="{{ book['link'] }}"><img class="fav-book" src="/static/images/book-{{ book['key'] }}.png"></a>
    {% endfor %}
</div>
{% include './footer.html' %}
