name: generate_statics

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  generate_statics:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - name: generate_statics
        run: |
          ./generators/generate

      - name: check_for_changes
        id: check_for_changes
        run: |
          result=0
          if [[ `$(git status --porcelain)` ]]; then
            result=1
          fi
          echo ::set-output name=has_changes::$result

      - name: commit_statics
        if: steps.check_for_changes.outputs.has_changes == 1
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

          git add -A
          git commit -m "Adding generated static files"
          git push
